.video-container {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
  
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.video-container:hover .play-button {
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 0 0 25px rgba(255, 255, 255, 1);
}



.video-details{
display: flex;
justify-content: space-between;
width: 70%;
margin: auto;
}